name: localai

include:
  - ./supabase/docker/docker-compose.yml

networks:
  default:
    name: localai

volumes:
  n8n_storage:
  ollama_storage:
  qdrant_storage:
  flowise:
  # caddy-data:
  # caddy-config:

# image: n8nio/n8n:latest   <-change to build to pull the npm packages from Dockerfile replace build with image if dont want
# build: .
x-n8n: &service-n8n
  build: .
  environment:
    - DB_TYPE=postgresdb
    - DB_POSTGRESDB_HOST=${POSTGRES_HOST}
    - DB_POSTGRESDB_PORT=${POSTGRES_PORT}
    - DB_POSTGRESDB_USER=${POSTGRES_USER}
    - DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
    - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
    - N8N_DIAGNOSTICS_ENABLED=false
    - N8N_PERSONALIZATION_ENABLED=false
    - N8N_ENCRYPTION_KEY
    - N8N_USER_MANAGEMENT_JWT_SECRET
    - WEBHOOK_URL=${N8N_HOSTNAME:+https://}${N8N_HOSTNAME:-http://localhost:5678}
    - NODE_FUNCTION_ALLOW_EXTERNAL=mammoth,lodash

x-ollama: &service-ollama
  image: ollama/ollama:latest
  container_name: ollama
  restart: unless-stopped
  ports:
    - 11434:11434
  volumes:
    - ollama_storage:/root/.ollama

x-init-ollama: &init-ollama
  image: ollama/ollama:latest
  container_name: ollama-pull-llama
  volumes:
    - ollama_storage:/root/.ollama
  entrypoint: /bin/sh
  command:
    - "-c"
    - >
      sleep 3;
      OLLAMA_HOST=ollama:11434 ollama pull nomic-embed-text;
      OLLAMA_HOST=ollama:11434 ollama pull snowflake-arctic-embed2:568m;
      OLLAMA_HOST=ollama:11434 ollama pull qwen3:8b;
    # OLLAMA_HOST=ollama:11434 ollama pull deepseek-r1:7b;
    # OLLAMA_HOST=ollama:11434 ollama pull llama3.1:8b;
    # snowflake-arctic-embed2 has 1024 dimensions, nomic 768 dimensions

    # For a larger context length verison of the model, run these commands:
    # echo "FROM qwen3:14b\n\nPARAMETER num_ctx 32768" > Modelfile
    # ollama create qwen3:14b-32k -f ./Modelfile
    # Change the name of the LLM and num_ctx as you see fit.

services:
  flowise:
    image: flowiseai/flowise
    restart: unless-stopped
    container_name: flowise
    environment:
      - PORT=3007
      - FLOWISE_USERNAME=${FLOWISE_USERNAME}
      - FLOWISE_PASSWORD=${FLOWISE_PASSWORD}
    ports:
      - 3007:3007
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ~/.flowise:/root/.flowise
    entrypoint: /bin/sh -c "sleep 3; flowise start"

  n8n:
    <<: *service-n8n
    container_name: n8n
    restart: unless-stopped
    ports:
      - 5678:5678
    volumes:
      - n8n_storage:/home/node/.n8n
      - ./n8n/backup:/backup
      - ./shared:/data/shared

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    restart: unless-stopped
    ports:
      - 6333:6333
    volumes:
      - qdrant_storage:/qdrant/storage

  ## for knowledge graph database

  neo4j:
    image: neo4j:latest
    volumes:
      - ./neo4j/logs:/logs
      - ./neo4j/config:/config
      - ./neo4j/data:/data
      - ./neo4j/plugins:/plugins
    ports:
      - "7473:7473" # HTTPS port
      - "7474:7474" # HTTP port (Neo4j Browser)
      - "7687:7687" # Bolt port (database connection)
    environment:
      - NEO4J_AUTH=${NEO4J_AUTH:-"neo4j/your_password"}
    restart: always

  ## for reverse proxy, deployment into production

  # caddy:
  #   container_name: caddy
  #   image: docker.io/library/caddy:2-alpine
  #   restart: unless-stopped
  #   ports:
  #     - 80:80/tcp
  #     - 443:443/tcp
  #   expose:
  #     - 2019/tcp
  #     - 443/tcp
  #     - 443/udp
  #     - 80/tcp
  #   volumes:
  #     - ./Caddyfile:/etc/caddy/Caddyfile:ro
  #     - caddy-data:/data:rw
  #     - caddy-config:/config:rw
  #   environment:
  #     - N8N_HOSTNAME=${N8N_HOSTNAME:-":8001"}
  #     - FLOWISE_HOSTNAME=${FLOWISE_HOSTNAME:-":8003"}
  #     - OLLAMA_HOSTNAME=${OLLAMA_HOSTNAME:-":8004"}
  #     - SUPABASE_HOSTNAME=${SUPABASE_HOSTNAME:-":8005"}
  #     - NEO4J_HOSTNAME=${NEO4J_HOSTNAME:-":8008"}
  #     - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL:-internal}
  #   cap_drop:
  #     - ALL
  #   cap_add:
  #     - NET_BIND_SERVICE
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "1m"
  #       max-file: "1"

  ollama-cpu:
    profiles: ["cpu"]
    <<: *service-ollama

  ollama-gpu:
    profiles: ["gpu-nvidia"]
    <<: *service-ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  ollama-pull-llama-cpu:
    profiles: ["cpu"]
    <<: *init-ollama
    depends_on:
      - ollama-cpu

  ollama-pull-llama-gpu:
    profiles: ["gpu-nvidia"]
    <<: *init-ollama
    depends_on:
      - ollama-gpu
